body {
  background: #0f172a;
  color: white;
  font-family: Arial;
  text-align: center;
}

input {
  padding: 10px;
  margin-top: 10px;
}

button {
  padding: 10px 16px;
  margin: 10px;
  background: #22c55e;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

a {
  color: #38bdf8;
}

.you {
  color: #22c55e;
  font-weight: bold;
}
